/*
 * SPDX-FileCopyrightText: 2023 Digg - Agency for Digital Government
 *
 * SPDX-License-Identifier: CC0-1.0
 */

@import './base.css';

#app {
  background-color: transparent;
  font-weight: normal;
  min-width: 240px;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

body.dark {
  /* dark mode colors */
  --disabled-background-color: #333333;
  --disabled-text-color: #999999;
}

@media (max-width: 600px) {
  .icon-list {
    /* mobile styles */
  }
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 600px) {
  .rectangle {
    /* mobile styles for .rectangle */
  }

  .modal-header {
    /* mobile styles for .modal-header */
  }

  /* add more media queries as needed */
}
